@font-face {
  font-family: Vollkorn;
  src: url(fonts/Vollkorn-VariableFont_wght.ttf);
}
@font-face {
  font-family: AlegreyaSans;
  src: url(fonts/AlegreyaSans-Regular.ttf);
}
body {
    font-size: 20px;
    font-family: Vollkorn, sans-serif;
    width: 50%;
    margin-top: 100px;
    margin-left: 25%;
    line-height: 1.2;
}
h1 {
    font-family: AlegreyaSans;
    font-size: 24px;
    background: black;
    color: white;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
}
h2 {
    font-size: 22px;
    font-family: AlegreyaSans;
    font-weight: normal;
    background: black;
    color: white;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 2px 5px 2px 5px;
}
a {
    color: black;
}
h1 a {
    color: white;
}
h2 a {
    color: white;
}
