@font-face {
  font-family: Vollkorn;
  src: url(fonts/Vollkorn-VariableFont_wght.ttf);
}
@font-face {
  font-family: AlegreyaSans;
  src: url(fonts/AlegreyaSans-Regular.ttf);
}

h1 {
    font-family: AlegreyaSans;
    /* font-size: 24px; */
    background: black;
    color: white;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
}
h1 a {
    color: white;
}

footer {
    font-size: 22px;
    font-family: AlegreyaSans;
    font-weight: normal;
    background: black;
    color: white;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 2px 5px 2px 5px;
}
footer a {
    color: white;
}

.sidebar {
    font-family: AlegreyaSans;
    margin-top: 100px;
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    line-height: 1.5;
    padding-left: 30px;
}

body {
    font-size: 20px;
    font-family:  AlegreyaSans, serif;
    width: 50%;
    margin-top: 100px;
    margin-left: 25%;
    line-height: 1.2;
}

a {
    color: black;
}

code {
    width: 50%;
}
