<style>
    .navbar {
        background: #fff;
        font-color: #000;
        font-size: 21px;
        padding: 10px;
    }
    a.toplink {
        color: #000;
    }
    a:hover.toplink {
        color: #8296b4;
    }
</style>

<div class="navbar navbar-fixed-top">
    <center>
        <table>
            <tr>
                <td><a class="toplink" href="../">home</a></td>
                <td><a class="toplink" href="../research/">research</a></td>
                <td><a class="toplink" href="../projects/">projects</a></td>
                <td><a class="toplink" href="../blog/">blog</a></td>
                <td><a class="toplink" href="http://www.github.com/prb2">github</a></td>
                <td><a class="toplink" href="http://www.prudhviboyapalli.com/static/prb_resume.pdf">resume</a></td>
                <td><a class="toplink" href="mailto:prrb02@gmail.com">email</a></td>
            </tr>
        </table>
    </center>
</div>
