<style>
    .navbar {
        font-size: 18px;
    }
    a.toplink {
        color: #000;
    }
    a:hover.toplink {
        color: #8296b4;
    }
    td {
        padding-left: 0px;
        padding-right: 20px;
    }
</style>

<div class="navbar">
    <table>
        <tr>
            <td><a class="toplink" href="../">home</a></td>
            <td><a class="toplink" href="../blog/">blog</a></td>
            <td><a class="toplink" href="../research/">research</a></td>
            <!-- <td><a class="toplink" href="../projects/">projects</a></td> -->
            <td><a class="toplink" href="http://www.github.com/prb2">github</a></td>
        </tr>
    </table>
</div>
