<style>
    .sidebar-float {
        top: 0;
    }
		th.sidebar {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight: 100;
			font-size:	55px;
		}
		td.sidebar {
			font-family: Lato, Helvetica, Arial, sans-serif;
			font-weight:	300;
			font-size:	25px;
		}

		.sidelink {
			text-decoration: none !important;
		}
</style>

<div class="">
	<table class="table">
		<thead>
			<th class="sidebar"><a class="sidelink" href="../index.html">pb</a></th>
		</thead>

		<tbody>
			<tr><td class="sidebar"><a class="sidelink" href="../">home</a></td></tr>

			<tr><td class="sidebar"><a class="sidelink" href="../research/">research</a></td></tr>

			<tr><td class="sidebar"><a class="sidelink" href="../projects/">projects</a></td></tr>

			<tr><td class="sidebar"><a class="sidelink" href="../blog/">blog</a></td></tr>

			<!-- <tr><td class="sidebar"><a class="sidelink" href="../photography/">photography</a></td></tr> -->

			<tr><td class="sidebar"><a class="sidelink" href="http://www.github.com/prb2">github</a></td></tr>

			<tr><td class="sidebar"><a class="sidelink" href="mailto:prrb02@gmail.com">email</a></td></tr>

			<tr><td class="sidebar"></td></tr>
		</tbody>
	</table>
</div>
