<style>
		th {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
			font-weight:	200;
			font-size:	25px;
		}
		td {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
			font-weight:	200;
			font-size:	20px;
		}
		
		a:link {
			text-decoration:none;
			color:#333;
		}
		a:visited {
			text-decoration:none;
			color:#333;
		}
		a:hover {
			text-decoration:none;
			color:#67c295;
		}
		a:active {
			text-decoration:none;
			color:#333;
		}
</style>

<row>
	<table class="table">
		<thead>
			<th><a href="../index.html">Prudhvi Boyapalli</a></th>
		</thead>

		<tbody>
			<tr><td><a href="../">home</a></td></tr>

			<tr><td><a href="../projects/">projects</a></td></tr>

			<tr><td><a href="../blog/">blog</a></td></tr>

			<tr><td><a href="../photography/">photography</a></td></tr>

			<tr><td><a href="http://www.github.com/prb2">github</a></td></tr>

			<tr><td><a href="mailto:prrb02@gmail.com">email</a></td></tr>				

			<tr><td></td></tr>
		</tbody>
	</table>
</row>
