<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="../css/bootstrap.css" rel="stylesheet">
	</head>
		
	<style>
		body {
			font-size: 16px;
			margin-top: 2%;
			margin-bottom: 2%;
		}
		
		hr {
			border-width: 1.5px;
			border-color: black;
		}
		
		.title {
			font-size: 25px;
			font-weight: 400;
			margin-top: 5px;
		}

		.subtitle {
			font-size: 20px;
			font-weight: 400;
			margin-top: 5px;
			margin-bottom: 5px;
		}
	</style>
	<body>
	
		<div class="container-fluid">
			<div class="col-md-2 col-md-offset-1">
				{% include sidebar.html %}
			</div>
			
			<div class="col-md-6 col-md-offset-1">
				<div class="title">{{ page.title }}</div>
				<hr>
				{{ content }}
			</div>
		</div>
	</body>
</html>
