<link rel="shortcut icon" href="favicon.svg" type="image/x-icon">
<div class="navbar">
  <div style="text-align: left; display: inline-block; width: 50%">
    <a href="/index.html">home</a>&nbsp;&nbsp;
    <a href="/blog.html">blog</a>&nbsp;&nbsp;
    <!-- <a href="/projects.html">projects</a>&nbsp;&nbsp; -->
    <a href="/rss.xml">rss</a>
  </div>
  <div style="text-align: right; display: inline-block; width: 49%">
    <a href="https://www.github.com/prb2">github</a>
  </div>
  <hr>
</div>